NOTION_API_KEY=secret_replace_with_real_value

NOTION_DB_SYNC_LOG=ddb39abdd2344165bbb55a4057245a9d
NOTION_DB_DEV_TASKS=8eb2ec57c4944793bd16f17bea0c35dc

NOTION_DB_GAMES=
NOTION_DB_ASSETS=
NOTION_DB_MARKET=

RETRODEX_SQLITE_PATH=./backend/storage/retrodex.sqlite
